.#{$la-css-prefix}-search:before { content: la-content($la-search); }
.#{$la-css-prefix}-arrow-circle-right:before { content: la-content($la-arrow-circle-right); }
.#{$la-css-prefix}-bookmark-o:before { content: la-content($la-bookmark-o); }
.#{$la-css-prefix}-heart-o:before { content: la-content($la-heart-o); }
.#{$la-css-prefix}-download:before { content: la-content($la-download); }
.#{$la-css-prefix}-money:before { content: la-content($la-money); }
.#{$la-css-prefix}-object-group:before { content: la-content($la-object-group); }
.#{$la-css-prefix}-clock-o:before { content: la-content($la-clock-o); }
.#{$la-css-prefix}-file-text-o:before { content: la-content($la-file-text-o); }
.#{$la-css-prefix}-file-code-o:before { content: la-content($la-file-code-o); }

.#{$la-css-prefix}-times:before { content: la-content($la-times); }
.#{$la-css-prefix}-home:before { content: la-content($la-home); }
.#{$la-css-prefix}-list-alt:before { content: la-content($la-list-alt); }
.#{$la-css-prefix}-list:before { content: la-content($la-list); }
.#{$la-css-prefix}-user:before { content: la-content($la-user); }
.#{$la-css-prefix}-angle-double-right:before { content: la-content($la-angle-double-right); }
.#{$la-css-prefix}-angle-right:before { content: la-content($la-angle-right); }
.#{$la-css-prefix}-angle-double-left:before { content: la-content($la-angle-double-left); }
.#{$la-css-prefix}-bars:before { content: la-content($la-bars); }
.#{$la-css-prefix}-angle-double-down:before { content: la-content($la-angle-double-down); }
.#{$la-css-prefix}-check:before { content: la-content($la-check); }
.#{$la-css-prefix}-eye:before { content: la-content($la-eye); }
.#{$la-css-prefix}-comment:before { content: la-content($la-comment); }
