.lists-post {
    
    flex-direction: column;
    margin-bottom: 20px;
    .post-list {
        display: flex;
        width: 100%;
        padding: 15px 0;
        &_content {
            flex: 0 0 70%;
            padding-right: 20px;
        }
        &_category {
            margin-bottom: 5px;
            a {
                text-transform: uppercase;
                color: rgba(0,0,0,.54);
                font-size: 14px;
                font-weight: 400;
            }
        }
        &_title {
            margin-bottom: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            font-weight: 600;
            -webkit-box-orient: vertical!important;
            a {
                font-family: SFD-Bold;
                color: #333;
                font-size: 20px;
            }
        }
        &_desc {
            font-size: 14px;
            color: #484848;
            line-height: 1.7;
            font-weight: 400;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical!important;
        }
        &_time {
            font-size: 13px;
            color: rgba(0,0,0,.54);
            margin-top: 6px;
        }
        &_image {
            max-height: 155px;
            flex: 0 0 30%;
            img {
                width: 100%;
                height: 100%;
                border-radius: 2px;
            }
        }
    }
}

// sidebar
.seo-page {
    margin-bottom: 30px;
    &_title {
        font-family: SFD-Bold;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 600;
    }
    &_desc {
        line-height: 1.7;
        font-size: 14px;
        font-weight: 400;
        color: rgba(0,0,0,.54);
    }
}
.box-hot-post {
    padding-top: 15px;
}
.line {
    flex: 1;
    height: 1px;
    background: #eee;
}
.box-title {
    display: flex;
    align-items: flex-end;
    h2 {
        font-family: SFD-Bold;
        padding-bottom: 10px;
        border-bottom: 1px solid;
        font-size: 18px;
        font-weight: 600;
        color: #252525;
        text-transform: uppercase;
    }
}

.list-hot-post {
    padding: 20px 0;
    .hot-post {
        display: flex;
        padding: 10px 0;
        &_content {
            flex: 1;
            padding-right: 10px;
        }
        &_title {
            margin-bottom: 7px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        &_image {
            width: 90px;
            img {
                width: 100%;
                border-radius: 2px;
            }
        }
        &_time {
            span {
                font-size: 13px;
                color: #484848;
                margin-top: 2px;
            }
        }
    }
}

@media (max-width: 767px) {
    .lists-post {

        .post-list {

            width: 100%;
            &_content {
                flex: 0 0 65%;
                padding-right: 20px;
            }

            // &_title {

            // }
            // &_desc {

            // }

            &_image {
                max-height: 100px;
                flex: 0 0 35%;
                // img {

                // }
            }
        }
    }
    .list-hot-post {
        .hot-post {

            &_image {
                max-height: 100px;
                flex: 0 0 35%;
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

}
