.customer-pagination {
    margin: 10px auto;
    width: 200px;
    nav {
        a ,span{
            border: 1px solid transparent;
            border-radius: 5px;
            cursor: pointer;
            display: inline-block;
            font-size: 15px;
            font-weight: 400;
            letter-spacing: .3px;
            line-height: 20px;
            padding: .3rem .75rem;
            text-align: center;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            vertical-align: middle;
            white-space: nowrap;
            background-color: #f6f7f9;
            border-color: #f6f7f9;
            margin: 0 5px;
        }
    }
}
