.list-blog {
    display: flex;
    flex-wrap: wrap;

    .col-item-3 {
        flex: 1 1 33.33%;
        max-width: 33.33%;
        width: 100%;
        padding: 0 10px;
        margin-bottom: 20px;

        .item-blog {
            border: 1px solid $color_border_f2;
            border-radius: 5px;

            &__thumb {
                > a {
                    > img {
                        width: 100%;
                        transform: scale(1, 1);
                        margin: 0 auto;
                        border: 1px solid #e2d8c7;
                        border-radius: 3px;
                        max-height: 180px;
                    }
                }
            }

            &__details {
                padding: 5px 15px 15px 15px;

                .date, .title {
                    text-transform: uppercase;
                }

                .title {
                    font-weight: 600;
                    font-size: 18px;
                    color: #333;
                    margin: 15px 0 10px;
                    //line-height: 1.3;
                    height: 55px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                .desc {
                    text-align: justify;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    height: 70px;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }

            &:hover {
                box-shadow: 0 0 15px rgba(0, 0, 0, .1);
            }
        }
    }
}

@media (max-width: 767px) {
    .list-blog {
        .col-item-3 {
            flex: 1 1 50%;
            max-width: 50%;
        }
    }
}

@media (max-width: 500px) {
    .list-blog {
        .col-item-3 {
            flex: 1 1 100%;
            max-width: 100%;
        }
    }
}
